*{padding: 0;
margin: 0;}

:root {
    --ff-title: "Roboto", sans-serif;
    --bg-primary: #999999;
    --fc-primary: #ffffff;
    --font-rem: 62.5%;
}

body{
    background-color: var(--bg-primary);
    font-family: var(--ff-title);
}


h1{
    display: flex;
    justify-content: center;
}